.container{
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}


.job{
    border: 1px solid grey;
    padding: 10px;
    width: 600px;
    margin: 0 auto;
    text-align: left;
}
.job ~ .job{
    margin-top: 20px;

}
.job_title{
    text-align: center;
}
.center{
    text-align: center;
}
h1 {
    text-align: center;
}